$-primary-100:#FFFFFF;
$-primary-200:#FFF7ED;
$-primary-300:#FADCB7;
$-primary-400:#FECD8F;
$-primary-500:#FCB65D;
$-primary-600:#FF9F26;
$-primary-700:#FF8E00;
$-primary-800:#262121;
$-auth-button:#19BADD;